.firstSectionMY {
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.porfolio {
  margin-top: 10rem;
}

body,
header {
  background-color: rgb(57, 62, 71);
  color: white;
}

header {
  border-radius: 15px;
  transition: all 1s ease;
}
span {
  color: white;
}

strong {
  color: rgb(206, 148, 48);
}

nav {
  transition: all 1s ease;
}

#navbarNav {
  margin-right: 35px;
}

.active,
.myBtn {
  background-color: none !important;
  color: white;
  border: 1px solid rgb(206, 148, 48);
}
.active:hover,
.myBtn:hover {
  background-color: rgb(240, 178, 71) !important;
}
#habilidades a {
  color: white;
  text-decoration: none;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: rgb(206, 148, 48);
}

.custom-toggler {
  border-color: white;
  color: rgb(206, 148, 48);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url(./img/application.png);
}

.customH2 {
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.ulContact {
  border-right: 1px solid white;
  border-radius: 0% !important;
}

.habSection {
  background-color: rgb(51, 54, 59);
}

.zoom {
  transition: transform 0.3s ease;
}
.zoom:hover {
  transform: scale(1.2);
}

.imgSizes {
  height: 100px;
}

.card {
  border: none;
  border-radius: 15px;
}
.card-body {
  background-color: rgb(51, 54, 59);
}
.card-body p {
  color: white;
}

.hiddenUl {
  display: none;
}

.angleRotate:hover {
  transform: rotate(-20deg);
}

button a {
  color: white;
}

.cardImg {
  height: auto;
  max-height: 350px;
  min-height: 350px;
}

@media (max-width: 768px) {
  .cardImg {
    height: auto;
    max-height: 200px;
    min-height: 200px;
  }

  .ulContact {
    border-right: 0px solid white;
  }
  .ulLiCont {
    border-bottom: 2px solid rgb(206, 148, 48);
    padding-bottom: 15px;
  }
  .hidden {
    display: none;
  }
  .hiddenUl {
    display: flex;
  }

  .imgSizes {
    height: 80px;
  }
}

@media (max-width: 425px) {
  section {
    max-width: 80%;
    /* ia added */
    margin-left: auto;
    margin-right: auto;
  }
  /* ia added */
  .habSection {
    display: flex;
    align-items: center;
  }

  .firstSectionMY {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .imgSizes {
    height: 50px;
  }

  .firstP {
    font-size: 1rem;
  }

  /*   h1 {
    font-size: 2rem !important;
  } */

  .firstP,
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .codeImg {
    display: none;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.7rem !important;
  }
  .firstP {
    font-size: 0.8rem;
  }
}

@media (max-width: 991px) {
  .navbar-toggler {
    position: absolute;
    right: 13px;
    top: 13%;
    transform: translateY(-50%);
    width: auto;
  }

  .navbar-collapse {
    clear: both;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  h1 {
    font-size: 2rem !important;
  }
  .firstP {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  h1 {
    font-size: 2.5rem !important;
    text-align: center;
  }
  .firstP {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
  }
  .contactButtonContainer {
    margin-top: 60px;
  }
}
