* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(imgRemoveLater/clay-banks-Ie3fp14d_NQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

h1 {
  font-size: 5rem;
  color: white;
  text-align: center;
}

/* ia added */
.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
}
/* ia added */
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
